.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 150px;
  margin-bottom: 50px;
}

.form label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: saddlebrown;
  font-weight: bold;
}

.form input, select, button {
  width: 10vw;
  background-color: antiquewhite;
  border: 1px solid saddlebrown;
  border-radius: 4px;
  padding: 5px;
}

.form button {
 background-color: saddlebrown;
 color: antiquewhite;
 cursor: pointer;
}

.form button:hover {
  opacity: 0.8;
}
