.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 150px;
  margin-bottom: 50px;
  padding: 16px;
  border-radius: 8px;
}

.form label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: saddlebrown;
  font-weight: bold;
}

.form input, select, button {
  width: 10vw;
  background-color: antiquewhite;
  border: 1px solid saddlebrown;
  border-radius: 4px;
  padding: 5px;
}

.form input:focus {
  color: saddlebrown;
  font-weight: bold;
}

.reset, .save {
 background-color: saddlebrown;
 color: antiquewhite;
 cursor: pointer;
}

.form button:hover {
  opacity: 0.8;
}

.form-section {
  display: flex;
  gap: 16px;
}

.confirm-btn {
  background-color: antiquewhite;
  color: saddlebrown;
  border: 1px solid saddlebrown;
  cursor: pointer;
}

.btn-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
