.App {
  margin: 0 auto;
  height: 90vh;
  width: 100vw;
}

h1 {
  text-align: center;
}

.icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: 5%;
  opacity: .3;
}

.info {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 48px;
}
